// action button style

.actions-wrap {
    margin: 40px;
    width: 75%;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;

    Button {
        margin: 3px;
        border: 1px solid $treasureGray;
    }
}