// main 

.wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
    }

    .top-wrap {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .map-wrapper {
            width: 75%;
            border: 3px solid $treasureGray;
        }
        .message-wrapper {
            margin-left: 10px;
            width: 25%;
            border: 3px solid $treasureGray;
        }

    }
    .bottom-wrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
}
