// map styles
.mapper-wrapper{

}
.map-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    background: $treasurePrimary;
    color: $treasureWhite;


    .blah{
        width: 5px;
        height: 5px;
        background: gray;
    }

    .room-wrap{
        width: 5px;
        height: 5px;
        background: blue;
    }
}