// map styles

.map-wrap {
    height: 490px;
    width: 100%;
    background: $treasurePrimary;
    color: $treasureWhite;

    .room-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10px;
        width: 10px;
    
    }
}