// Colors
$treasurePrimary: #262b3a;
$treasureSecondary: #3beb95;
$treasureWhite: #e3e3e3;
$treasureGray: #4a5472;
$treasureBlack: #1a1b25;

// Font family
@import url('https://fonts.googleapis.com/css?family=Harmattan&display=swap')